{{#each products }}
    <div class="row">
       {{#each this }}
       <div class="col-sm">
         <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="{{this.imagePath}}" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">{{this.productName}}</h5>
    <p class="card-text">
        
        Stroage Capacity: {{this.information.storageCapacity}}GB<br>
        Number Of SIM: {{this.information.numberOfSIM}} <br>
        Rear Camera Resolution: {{this.information.cameraResolution}}MB<br>
        Display Size (Inch): {{this.information.displaySize}}Inch</p>
    <div>
        <div class="price float-left">$ {{this.price}}</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
</div>
       {{/each }}
    </div>
{{/each }}