<h3>{{viewTitle}}</h3>

<form action="/tasks/create" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{task._id}}">
    <div class="form-group">
        <label>Task Name</label>
        <input type="text" class="form-control" name="taskName" placeholder="Task Name" value="{{task.taskName}}">
        <div class="text-danger">
            {{task.taskNameError}}</div>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" placeholder="Date" value="{{task.date}}">
        <div class="text-danger">
            {{task.dateError}}</div>
    </div>
        <div class="form-group">
            <label>Status</label>
            <select name="status" id="status" class="form-control" value="{{task.status}}">
                {{!-- <option selected="true">Select Status</option> --}}
                <option selected="true" value="1">New</option>
                <option value="2">In Progress</option>
                <option value="3">Completed</option>
            </select>
                <div class="text-danger">
            {{task.statusError}}</div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" placeholder="Description">{{task.description}}</textarea>
                <div class="text-danger">
            {{task.descriptionError}}</div>
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
    </div>
</form>